<% first_product = Product.first %>
<% cheap_product = Product.where('price > 1').first %>
<% product = Product %>


<p>
  Product Name: "<%= cheap_product.name %>" costs $<%= first_product.price %>
</p>

<p>
  There are <%= product.count %> products in the database.
</p>

<p>
  The seller for this product is named '<%= first_product.user.name %>'
</p>


<h2>Hello World</h2>
<h2> I AMA View </h2>
<p>
  Find me in <%= Rails.root.join("app", "views", "products", __FILE__ ) %>
</p>
